* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    background: lightgrey;
}


.navbar {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    background: black;
    color: white;
}

.nav-links {
    display: flex;
    gap: 20px;
    list-style: none;
}


.hero {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background: white;
}

.hero-text {
    width: 50%;
}

.hero-text button {
    padding: 10px 15px;
    background: black;
    color: white;
    border: none;
    margin-top: 10px;
}


.hero-img {
    width: 40%;
    height: 200px;
    background: lightblue;
}


.grid-section {
    margin: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 15px;
}

.grid-card {
    background: white;
    padding: 20px;
    text-align: center;
    border: 1px solid grey;
}